main.form-container {
    width: 100%;
    min-height: 80vh;
    padding: 15px;
    .title-form-container {
        font-size: 26px;
        color: #E1CB4D;
        font-weight: 500;
        margin-bottom: 10px;
        @media screen and (min-width: 768px) {
            text-align: center;
            font-size: 35px;
            margin: 15px 0px;
        }
    }
}