/* You can add global styles to this file, and also import other style files */

$txt-principal: #E1CB4D;
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #2C213E;
}