/* You can add global styles to this file, and also import other style files */

$txt-principal: #c0b36b;
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #4F4265;
}